html, body {
  font-family: RobotoRegular, sans-serif;
  background-color: #fefefe;

}

h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  font-family: RobotoRegular;
  color: #555;
  font-weight: 200;
  letter-spacing: 2px;
  padding-top: 10px;
}

h1 span:after, h1 span:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
  top: 28px;
  width: 75px;
}

h1 span:before {
  margin-left: -100px;
}

h1 span:after {
  margin-left: 26px;
}

.unsearched-bg {
  color: #999;
  text-align: center;
  margin-top: 20vh;
  font-size: 18px;
  font-family: RobotoRegular, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}

.plane-container {
  width: calc(100% - 40px);
  height: 180px;
  float: left;
  background: #fafafa;
  border-bottom: 1px solid #888;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2M8c+bMfxMTE0YGBgYGMAEDKBwAkAEEBADdNBMAAAAASUVORK5CYII=);
  padding: 20px;
}

.plane-container:nth-child(2n + 1) {
  background: #e7f0f3;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2M8c+bMfxMTE0YGBgYGMAEDKBwAkAEEBADdNBMAAAAASUVORK5CYII=);
}

.plane-container:nth-child(2n + 1) .callsign {
  background: rgba(249, 249, 249, 0.5);
}

.header {
  background: #e2e2e2;
  width: 100%;
  height: 167px;

}


.left-info-container, .right-info-container {
  width: 50%;
  float: left;
}

.info-container {
  width: calc(50% - 20px);
  font-size: 24px;
  float: left;
  color: #555;
  margin-top: 5px;
}


.callsign {
  font-size: 52px;
  text-align: left;
  text-transform: uppercase;
  color: #555;
  background: rgba(230, 239, 242, 0.4);
  width: 100%;
  margin-top: 25px;
}

.country {
  display: inline;
  color: #555;
}

.lat-long-container {
  width: calc(47% - 20px);
  float: right;
  height: 150px;
  text-align: left;
  margin-top: -59px;
}

.latitude, .longitude {
  font-size: 64px;
  color: #555;
  margin: 0px 0px 0 5px;
}


.lat-long-label {
  font-size: 72px;
  font-weight: 700;
  color: #b1b1b1;
}

.zip-btn {
  width: 16%;
  border: 2px solid #838383;
  background: #fff;
  height: 45px;
  padding: 8px 12px;
  font-size: 16px;
  color: #555;
  margin: 0 0 0 15px;

}

form {
  width: 100%;
  margin: 20px auto;
}

form div {
  position: relative;
  overflow: hidden;
  background: #fafafa;
  width: 36%;
  float: left;
  margin: 0 0 0 15px;
  border: 2px solid #838383;

}

form input {
  width: 90%;
  border: none;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  height: 25px;
  font-size: 18px;
}


form input:focus {
  border-color: #f06d06;
  color: #555;
}

form label {
  position: absolute;
  padding: 12px 20px 12px 17px;
  background: #e6eff1;
  text-align: right;
  color: #555;
}


form.location-form label {
  top: -8px;
  right: 100%;
  width: 40%;
  margin-right: -100%;
  bottom: 0;
  letter-spacing: 1px;
  font-size: 100%;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e2e2e2;
  width: 100%;
  text-align: right;
  height: 27px;
  padding: 10px 10px 0 0;
  font-size: 14px;
  color: #555;
}

footer p {
  display: inline;
}

footer a {
  color: #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.airplane-icon {
  width: 11%;
  opacity: .5;
  margin-top: 25px;
}




/*Loading Spinner*/

.loader {
  color: #8c8a8a;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: -175px auto 0 auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.form-container {
  display: block;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}