html, body {
  font-family: RobotoRegular, sans-serif;
}

.plane-container {
  width: calc(100% - 40px);
  height: 180px;
  float: left;
  background: #fafafa;
  border-bottom: 1px solid #888;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2M8c+bMfxMTE0YGBgYGMAEDKBwAkAEEBADdNBMAAAAASUVORK5CYII=);
  padding: 20px;
}

.plane-container:nth-child(2n + 1) {
  background: #e7f0f3;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQYV2M8c+bMfxMTE0YGBgYGMAEDKBwAkAEEBADdNBMAAAAASUVORK5CYII=);
}

.plane-container:nth-child(2n + 1) .callsign {
  background: rgba(249, 249, 249, 0.5);
}

.header {
  background: #e2e2e2;
  width: 100%;
  height: 167px;

}


.left-info-container, .right-info-container {
  width: 50%;
  float: left;
}

.info-container {
  width: calc(50% - 20px);
  font-size: 24px;
  float: left;
  color: #555;
  margin-top: 5px;
}


.callsign {
  font-size: 52px;
  text-align: left;
  text-transform: uppercase;
  color: #555;
  background: rgba(230, 239, 242, 0.4);
  width: 100%;
  margin-top: 25px;
}

.country {
  display: inline;
  color: #555;
}

.lat-long-container {
  width: calc(47% - 20px);
  float: right;
  height: 150px;
  text-align: left;
  margin-top: -59px;
}

.latitude, .longitude {
  font-size: 64px;
  color: #555;
  margin: 0px 0px 0 5px;
}


.lat-long-label {
  font-size: 72px;
  font-weight: 700;
  color: #b1b1b1;
}

.zip-btn {
  width: 40%;
  border: 2px solid #c7c7c7;
  background: #fff;
  height: 32px;
  padding: 0;
  margin: 5px 0 0 0;
  font-size: 16px;
  color: #aaa;
  float: right;
}

form {
  width: 280px;
  float: left;
  margin: 20px;
}

form div {
  position: relative;
  overflow: hidden;
  background: #fafafa;
}

form input {
  width: 252px;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  height: 25px;
  font-size: 18px;
}


form input:focus {
  border-color: #f06d06;
  color: #555;
}

form label {
  position: absolute;
  padding: 7px 6px;
  background: #e6eff1;
  color: #555;
}


form.location-form label {
  top: 2px;
  right: 100%;
  width: 40%;
  margin-right: -104%;
  bottom: 2px;
}

