html, body {
  font-family: RobotoRegular, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #f1f5f6;
}

.plane-container {
  width: 100%;
  height: 500px;
  background: #fafafa;
  border-bottom: 1px solid #888;
}

.plane-container:nth-child(odd) {
  background: #f7e7e7;
}

.info-container {
  width: calc(100% - 475px);
  height: 500px;
  float: left;
}

.callsign {
  font-size: 72px;
  display: inline;
  color: #555;
}

.country {
  font-size: 36px;
  display: inline;
  color: #555;
}

.lat-long-container {
  width: 475px;
  float: left;
  height: 500px;
}

.latitude, .longitude {
  font-size: 96px;
  color: #555;
  /*margin: 25px;*/
  clear: both;
}

.latitude {
  margin: -17px 0 0 0;
}

.lat-long-label {
  font-size: 39px;
  font-weight: 300;
}

